body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: lightgoldenrodyellow;
}

img {
  display: block;
  width: 100%;
  height: 200px;
}

button {
  cursor: pointer;
}

.search-form {
  text-align: center;
  padding: 5px;
  background-color: teal;
}

.search-form > button {
  height: 32px;
  width: 80px;
  border-radius: 4px;
  border: none;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 250ms ease-in-out;
}

.search-form > button:hover,
.search-form > button:focus {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: teal;
}

input {
  position: relative;
  padding: 5px;
  outline: none;
  border-radius: 4px;
  border-color: transparent;
}

input:focus {
  border-color: black;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 10px 5px;
}

.info {
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.load-more {
  display: none;
  margin: 0 auto 10px;
  padding: 6px;
  color: #fff;
  background-color: rgb(0, 174, 255);
  border: none;
  border-radius: 4px;
}

.load-more:hover,
.load-more:focus {
  background-color: rgb(4, 137, 199);
  transition: background-color 250ms;
}
